body{
    margin: 0;
}
.block{
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 2px black solid;
    margin-top: 2px;
    transition: 0.5s;

}
.block:hover{
    background-color: rgba(128, 128, 128, 0.404);
}
a{
    text-decoration: none;
    color: black;
    transition: 1s;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
img{
    width: 400px;
}
iframe{
    margin-top: 20px;
}